@using Muhasebe.EntityLayer.Conrete
@model List<Product>

<section class="content-header">
    <h1>
        Ürünler
        <small>Başlangıç</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Ürün</a></li>
        @* <li><a href="#">Examples</a></li> *@
        <li class="active">Index</li>
    </ol>
</section>

<table class=" table table-bordered">
    <tr>
        <th>Id  </th>
        <th>Adı  </th>
        <th>Fiyatı  </th>
        <th>Kategori </th>
        <th>Sil  </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td><a href="#" class="btn btn-warning ">@item.CategoryId</a> </td>
            <td><a href="#" class="btn btn-danger ">Sil</a> </td>
        </tr>
    }
</table>