<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="~/AdminLTE-master/dist/img/user2-160x160.jpg" class="user-image" alt="User Image" />
        <span class="hidden-xs">Bahadır Kestane</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="~/AdminLTE-master/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
            <p>
                Bahadır Kestane
                
            </p>
        </li>
        <!-- Menu Body -->
        <li class="user-body">
            <div class="col-xs-4 text-center">
                <a href="#">Talepler</a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#">Falan</a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#">Filan</a>
            </div>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profil</a>
            </div>
            <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Çıkış Yap</a>
            </div>
        </li>
    </ul>
</li>